@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-regular.eot');
    src: local('Roboto Regular'), local('Roboto-Regular'), url('../fonts/roboto/roboto-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/roboto-regular.woff') format('woff'), url('../fonts/roboto/roboto-regular.woff2') format('woff2'), url('../fonts/roboto/roboto-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0px;
    padding: 0px;
}

#map {
    height: 100vh;
    width: 100vw;
}

.popupCustom {
    max-width: 300px;
    padding: 10px;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: #FCF2C1;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
}

.leaflet-container a.leaflet-popup-close-button {
    top: 11px;
    right: 11px;
    color: #F9B341;
}

.leaflet-container a.leaflet-popup-close-button:hover {
    color: #F12F0A;
}

.leaflet-tooltip {
    display: block;
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    text-align: center;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 7px #030303;
    background-color: #FCF2C1;
}